# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Docstrings and comments use max_line_length = 80
[*.py]
max_line_length = 120
atomic=true
multi_line_output=5
not_skip=__init__.py
known_third_party=pytest
known_first_party=besepa

[*.{json,yml}]
indent_size = 2
insert_final_newline = false
